a{
    color: #f57629;
}
.box{
    display: flex;
}
.img{
    background-color: darkblue;
    width: 300px;
    height: 500px;
}
.infobox{
    margin: 1%;
    width: -moz-available;
}
.nav-tabs{
    border-bottom: 1px solid #f57629;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #0e0e10;
    background-color: #f57629;
    border-color: #f57629;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    border-color: #f57629;
    color: #ffffe8;
}